.git
.github
.idea
.vscode
node_modules
vendor
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
storage/*.key
tests
docker-compose.override.yml
*.md
.env
.env.*
!.env.example
